ENV_TP1/
__pycache__

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.manifest
*.spec

# Virtual environments
venv/
env/
ENV/
.venv/
.python-version

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
